%h1.group-header
  - if @group.members_count < 2
    #{@group.name}
  - else
    You and #{pluralize(@group.members_count-1, 'other person')} are #{@group.name}

= render partial: 'messages/form'
= render partial: 'messages/list'
