%h1.group-header
  - if @group.members_count < 2
    #{@group.name}
  - else
    You and #{pluralize(@group.members_count-1, 'other person')} are #{@group.name}

= render partial: 'new_message_form'

%ul.list-group.message-group
  - @group.messages.each do |message|
    %li.list-group-item
      #{message.author.username}: #{message.content}
